body {
  backround-color: lightgrey;
}

.home-page-title {
  background-color: lightblue;
}

.home-page-quiz-section {
  background-color: darkgrey;
}

.quiz-section-q1 {
  background-color: pink;
}
.quiz-section-q2 {
  background-color: orange;
}
.quiz-section-q3 {
  background-color: yellow;
}
.quiz-section-q4 {
  background-color: green;
}
.quiz-section-q5 {
  background-color: blue;
}

.home-page-answer-section {
  background-color: darkgrey
}

.answer-section-a1 {
  background-color: red;
}
