body {
  background-image: url("img/background.jpg");
  background-color: lightyellow;
}

.img-align-left {
  float:left;
  width: 200px;
  margin: 20px;
}

.home-page-title {
  background-color: lightblue;
}

span.cool-style {
  font-weight: bold;
  font-size: 14pt;
}

.home-page-quiz-section {
  background-color: lightgrey;
}

.quiz-section-q1 {
  background-color: red;
}
.quiz-section-q2 {
  background-color: orange;
}
.quiz-section-q3 {
  background-color: yellow;
}
.quiz-section-q4 {
  background-color: green;
}
.quiz-section-q5 {
  background-color: blue;
}

.question-radio-text {
  font-weight: bold;
}

.answer-radio-text {
  font-style: italic;
}

.home-page-answer-section {
  background-color: darkgrey
}

#outputFullName {
  background-color: cyan;
  display:none;
}
#answer-final-a1 {
  background-color: red;
  display:none;
}
#answer-final-a2 {
  background-color: orange;
  display:none;
}
#answer-final-a3 {
  background-color: yellow;
  display:none;
}
#answer-final-a4 {
  background-color: green;
  display:none;
}
#answer-final-a5 {
  background-color: blue;
  display:none;
}

.answer-section {
  font-weight: bold;
}
